<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color:#cc0000; ">
    <div class="container-fluid">
        <a class="navbar-brand ml-5" href="https://dse00.blogspot.com" style="font-weight:500; font-size:28px">DSE00</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link ml-3" href="https://dse00.blogspot.com/p/test_8.html">資源區</a>
                <a class="nav-link ml-3" href="http://dse00.blogspot.com/p/core-cutoff.html">2021 Cut-off</a>
                <a class="nav-link ml-3" href="http://dse00.blogspot.com/search/label/Tips">Tips</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <a class="nav-link mr-3" href="/login">登入</a>
                <a class="nav-link mr-3" href="/register">注冊</a>
                <% } else {%>
                <a class="nav-link mr-5" href="/logout">登出</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>