<% layout('layouts/boilerplate')%>
    <div id="yylamdiv"></div>
    <style>
        .card {
            background-color: transparent;
            border: none;
            border-bottom: #ddd solid 1px;
            transition-duration: 0.5s;
        }

        .card:hover {
            background-color: rgb(245, 245, 245);
        }

        .card:active {
            background-color: #eee;
        }

        td {
            width: 17px;
        }

        td .icon-td {
            width: 100px;
        }
    </style>

    <div class="inner-container">

        <div class="user-info">

            <div id="userbar">
                <% if(!currentUser) {%>
                    <div class="user-menu">
                        <a href="/users/login" target="_blank">
                            <span style="margin:0 5px">2022 DSEr</span>
                        </a>｜
                        <span id="level" style="margin:0 10px" class="gold">Lv.5**
                        </span>｜
                        <span> <i class="fa-solid fa-coins"></i> 旗開得勝 </span>

                        <!-- <b><a href="/users/login" target="_blank">
                            <span class="level" style="margin:0 5px">login</span>｜<span id="level"
                                style="margin:0 10px">Lv.<span class="level">-</span></span>｜
                            <span> <i class="fa-solid fa-coins"></i> <span class="level">-</span> </span></a></b> -->
                    </div>
                    <% } %>
                        <% if(currentUser) {%>

                            <div class="user-menu">
                                <div>
                                    <a href="/users/user/<%= currentUser._id %> ">
                                        <%= currentUser.username.toUpperCase() %>
                                    </a>
                                </div>｜
                                <div class="level">Lv.
                                    <% if(currentUser) {%>
                                        <%= currentUser.grade %>
                                            <% } %>
                                </div>｜

                                <div>
                                    <a href="/users/dse00coin"> <i class="fa-solid fa-coins"></i>
                                        <% if(currentUser) {%>
                                            <%= currentUser.coin %>
                                                <% } %>
                                    </a>
                                </div>
                            </div>
                            <% } %>
            </div><br>

            <div>
                <form action="/" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div>
                        <label class="form-label" for="title"><b>QUICK TALK</b></label>
                        <textarea style="height:60px;" class="form-control" type="text" id="title"
                            name="campground[title]" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <button class="btn dse00btn" id="sendbtn">送出</button>
                    </div>
                    <div style="opacity: 0; position: absolute; top:0">
                        <textarea type="text" style="height:25px;color:#bbb" id="description"
                            name="campground[description]">如題</textarea>
                    </div>
                </form>
            </div>

            <div class="partner-post mt-5 pt-3 hide-mobile">
                <h6 class="mb-4" style="color:#222; font-size:18px;"><i class="fa-solid fa-user-group"
                        style="color:#cd4e4e;"></i>
                    你的 DSE Partner</h6>
                <div id="friend-activity">
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>
                    <div class="friend-activity" style="height:50px;">
                        <span style="font-size: 13px; color: #aaa;"><img src="/files/profileLogo.png"
                                style="width:22px; height:24px ; margin:0;" /></span>
                    </div>

                </div>
            </div>
        </div>

        <div class='index-loop order-two'>


            <a class="btn dse00btn" id="newpost" href="/new">新 POST</a>
            <div id="skeleton-screen"></div>
            <div id="posts-body">

            </div>
            <div style="display:flex; justify-content: center;"><img src="/files/gear.svg" /></div>


        </div>

        <div id="left-bar">
            <div class="category-list">
                <h4>我要傾</h4>
                <a href="/">
                    <td class="icon-td"><span class="category-list-icon">
                            <i class="fa-regular fa-comment-dots" style="color:#cd4e4e;"></i>
                        </span></td> 吹水
                </a>

                <a href="/search?category=DSE"><span class="category-list-icon"><i class="fa-regular fa-comment"
                            style="color:#cd4e4e;"></i></span>
                    DSE</a>
                <a href="/search?category=大學"><span class="category-list-icon"><i class="fa-regular fa-comment"
                            style="color:#cd4e4e;"></i> </span>
                    大學</a>
                <a href="/search?category=消息"><span class="category-list-icon"><i class="fa-regular fa-comment"
                            style="color:#cd4e4e;"></i></span>
                    消息</a>

            </div>
            <div class="mt-5 hide-mobile">
                <h6><i class="fa-solid fa-user-group" style="color:#cd4e4e;"></i> Online </h6>
                <div id="friends-list"></div>
            </div>
        </div>

    </div>
    <script src="/javascripts/renderPosts.js"></script>
    <script src="/javascripts/yylam.js"></script>