<% layout('layouts/boilerplate')%>
<a class="btn btn-info mb-3" href="/campgrounds/new" target="_blank">新 POST</a>
    
<div style="display:flex; justify-content:center; flex-direction: column; width:800px;">
    <% for (let i = campgrounds.length-1 ;  i>0 ; i--){%>
        <div class="card mb-3">
            <div class="row">
                <a href="/campgrounds/<%=campgrounds[i]._id%>">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campgrounds[i].title %>  <small class="text-muted"> - <%= campgrounds[i].author.username%></small>
                        </h5>
                        <p class="card-text text-muted">
                            <%= campgrounds[i].description.substring(0,50) %>
                        </p>
                    </div>
                </div></a>
            </div>
        </div>
        <% }%>
    </div>
    <a class="btn btn-info mb-3" href="/campgrounds/new" target="_blank">新 POST</a>
