<% layout('layouts/boilerplate')%>
    <div class="post-body">
        <h1 class="text-center">建立 POST</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">標題</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="description">內容</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">上載圖片...</span>
                        <span class="form-file-button">打開</span>
                    </label>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">提交</button>
                </div>
                <a class="btn btn-good" href="/campgrounds">返回</a>
            </form>

        </div>
    </div>