<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/pastpaper.css">


    <div class='index-loop'>
        <button onclick="history.back()" id="backButton" class="btn btn-danger mb-3">Back</button>
        <div class="card" style="padding:20px 30px 50px 30px;">
            <h3>
                Pastpaper
            </h3>

            <div class="warning">本網站純粹分享連結，連結內之內容非本網站上載及持有(HOST)</div>
            <div class="container">
                <% for( let i = 0; i < pastpapers.length; i++ ) { %>

                    <% if (i==0) { %>
                        <a href="/resources/<%= pastpapers[i].title %>">
                            <div class="onebox">
                                <%= pastpapers[i].title %>
                            </div>
                        </a>
                    <% } else {  %>
                    <a href="/resources/<%= pastpapers[i].title %>">
                        <div class="box">
                            <%= pastpapers[i].title %>
                        </div>
                    </a>

                    <% } %> <% } %>
            </div>
        </div>
    </div>