body {
    background-image: url("http://3.bp.blogspot.com/-8CHSBu1Z0X8/XBKneFT-L_I/AAAAAAAAOmI/33B6cqn86EcpGk_E7h9dBl3m7UlU40eAQCK4BGAYYCw/s1600/night.jpg.png");
    background-color: #070f16;
}

nav {
    background-color: transparent;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
}

.night-text {
    color: #888
}

.user-info {
    background-color: rgba(255, 255, 255, 0.9);
    border: white 1px solid
}

.dse00btn {
    color: white;
    border: white 1px solid;
}

h1,
h2 {
    color: white
}