body {
    background-color: #fffcf8;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

#yylamdiv {
    color: #ccc;
    font-size: 13px;
    margin: 20px 40px 10px 40px;
}



#hidebtn {
    opacity: 0.3;
    transition-duration: 1s;
}

#hidebtn:hover {
    opacity: 1;
    color: #cc0000;
    background-color: transparent;
}

.fr {
    float: right
}

.card {
    background-color: transparent;
    border: none;
    border-bottom: #ddd solid 1px;
    transition-duration: 0.5s;
}

nav {
    background-color: #cc0000;
}

div {
    background-color: transparent;
}

a {
    color: black;
    text-decoration: none;
    transition-duration: 0.5s;
}

p {
    color: #555;
}

.user-menu{
    display:flex;
    justify-content:space-around;
    font-weight: bold;
}
a:hover {
    color: black;
}

.muted {
    font-size: 13px;
    color: #ccc;
    margin-bottom: 10px;
}

.description{
    font-size:13px; 
    color:rgb(197, 197, 197);
    line-height: 0;
}
.dse00btn {
    background-color: transparent;
    border: #cc0000 solid 1px;
    border-radius: 5px;
    color: #cc0000;
    padding: 3px 10px;
    margin: 10px 0px;
    opacity: 0.5;
    font-size: 12px;
}

.dse00btn:hover {
    background-color: #cc0000;
    color: white;
    opacity: 1;
}

.dse00btn2 {
    background-color: #cc0000;
    color: white;
    border: #cc0000 solid 1px;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 10px 0px;
    font-size: 12px;
}

.dse00btn2:hover {
    background-color: transparent;
    color: #cc0000;
}

.post-title {
    font-size: 15.5px;
    font-weight: 400;
    padding-right: 32px;
    color: #111;
}

.post-title:hover {
    color: black;
}

#logo {
    font-weight: 500;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}

nav a {
    color: white;
    margin-right: 30px;
    margin-top: 4px;
}

nav a:hover {
    color: #ccc;
}

.index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.inner-container {
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.index-loop {
    width: 500px;
}

.grade {
    font-size: 14px;
    color: #aaa;
}

.user-info {
    width: 350px;
    padding: 20px;
    border-radius: 6px;
    margin-left: 3%;
    margin-top: 34px;
}

.category {
    font-size: 12px;
    color: white;
    background-color: #cc0000;
    margin-right: 7px;
    border: #d01717 1px solid;
    padding: 2px 2px 2px 5px;
    border-radius: 3px;
    opacity: 0.7;
    transition-duration: 0.5s;
}

.category:hover {
    opacity: 1;
}
.category-list{
    margin:60px 10px 0px 0px;
}

.category-list h4{
    color: #333;
    padding-left:5px;
}
.category-list a{
    display: block;
    width:150px;
    margin-top:20px;
    padding: 0 40px 0 5px;
    color: #222;
}

.category-list a:hover{
    background-color: #eee;
}
.category-list-icon{
    margin-right: 12px;
    font-size: 24px;
}

.category2 {
    font-size: 14px;
    color: #d01717;
    padding: 3px;
    border-radius: 3px;
    opacity: 0.9;
    transition-duration: 0.5s;
}

.category2:hover {
    opacity: 1;
    color: #d01717;
    border: #d01717 1px solid;
}



#sendbtn {
    float: right;
}

.level {
    color: rgb(255, 185, 185);
    padding: 0 9px;
}

#loginbtn2 {
    opacity: 0;
    transition-duration: 0.5s;
}

#loginbtn2:hover {
    opacity: 1;
}

.userbar {
    background-color: #cc0000;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
}

#userbar {
    background-color: #cc0000;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
}

#userbar a {
    color: #fff;
}

.friend-activity{
    background-color: #fff9e9;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    color: #777;
    box-shadow:1px 1px 1px rgb(255, 239, 199);

}

.shadow{
    text-shadow:1px 1px 3px rgb(179, 179, 179);
}



@media only screen and (max-width: 900px) {
    .inner-container {
        width: auto;
    }
    .index-loop {
        width: 100%;
        max-width: 650px;
        min-width: 0;
        padding: 0 10px;
    }
    .card-body {
        width: 100%;
    }
    .user-info {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #newpost {
        display: none;
    }
    nav a {
        line-height: 2.5rem;
    }
    .category-list {
        width:100%;
        order:1;
        display: flex;
        margin:10px 20px 20px 20px;
    }
    .category-list a{
        width:100%;
        padding-right: 6px;
        margin-top:0;
    }
    .category-list h4{
        display: none;
    }
    .category-list-icon{
        margin-right: 5px;
 
    }
    .order-two{
        order:2;
    }
    .hide-mobile{
        display:none;
    }
}

.grey {
    display: none;
}

#darkmode {
    font-size: 20px;
    margin-right: 30px;
}


#reviews a {
    color: #333
}

#usergrade {
    font-size: 50px;
}

.quote {
    color: #aaa;
    font-size: 15px;
    margin-bottom: 15px;
}

.gold {
    color: rgb(255, 211, 101);
    font-weight: bold;
    text-shadow:0px 0px 4px rgb(255, 239, 200);
}

.silver {
    color: rgb(232, 232, 232);
    font-weight: bold;
    text-shadow:0px 0px 6px rgb(79, 79, 79);
}
