.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 180px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid;
    padding: 35px 0;
    margin: 10px;
    transition-duration: 0.6s;
}

.box:hover {
    color: white;
    background-color: #cc0000;
    border: #cc0000;
}

.onebox {
    width: 180px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid;
    padding: 35px 0;
    margin: 10px;
    transition-duration: 0.6s;
    color: white;
    background-color: #cc0000;
}

.onebox:hover {
    background-color: #ff8f8f;
    border: #cc0000 1px solid;
}

h3 {
    padding-bottom: 20px;
}

.warning {
    border: #ffbbbb 1px solid;
    color: #de0000;
    padding: 14px;
    border-radius: 10px;
    font-size: 14px;
    margin: 20px 0 40px 0;
}

.locked {
    width: 20px;
}