.index-loop {
    width: 800px;
}

@media only screen and (max-width: 600px) {
    .index-loop {
        width: 100%;
        padding: 0 10px;
    }
}

#post-page {
    width: 100%
}

.card2 {
    width: 500px;
}