.index-loop {
    width: 800px;
}

@media only screen and (max-width: 600px) {
    .index-loop {
        width: 100%;
        padding: 0 10px;
    }
}

#post-page {
    width: 100%
}

.card2 {
    width: 500px;
}

.review-title {
    font-weight: 500;
}

.card-body{
    border-bottom: solid #eee 1px;
    border-radius: 5px;
}

/* img{
    width:30px;
} */