<% layout('layouts/boilerplate')%>

    <style>
        td,
        th {
            width: 100px;
        }

        input {
            width: 300px;
        }
    </style>
    <h1 class="mt-5 pt-5">JUPAS Code</h1>
    <div class="mt-5 mb-5 ">
        <input class="mb-3 form-control" maxlength="4" size="40" type="text" id="code-search"
            placeholder=" 4 digit code">
    </div>
    <div class="mt-5 ">


        <% for( let jupas of jupases) { %>
            <div class="mb-5">
                <h6> JS <%= jupas.code %> - <%= jupas.title %>
                </h6>
                <table class="mb-5">
                    <tr>
                        <td>中文</td>
                        <td>English</td>
                        <td>數學</td>
                        <td>通識</td>
                        <td>E1</td>
                        <td>E2</td>
                        <td>E3</td>
                    </tr>
                    <tr>
                        <% for( let cutoffs of jupas.cutoffs) { %>
                    <tr>
                        <% for( let cutoff of cutoffs) { %>
                            <td>
                                <%= cutoff %>
                            </td>
                            <% } %>
                    </tr>
                    <% } %>
                        </tr>
                </table>
                <% } %>
            </div>
    </div>

    <script>
        document.querySelector('input').addEventListener('keydown', function (e) {
            if (e.key == 'Enter') {
                location.replace(`/jupas/code?code=${e.target.value}`)
            }
        })

    </script>